#hidden {
  transform: translate(-999px, 0);
  display: none;
}
/* Landing page styles */
h1 {
  color: green;
}

body {
  text-align: center;
  color: #ffffff;
  background-color: #2c2e2c;
  font-family: Verdana;
  font-size: 0.8em;
  text-align: center;
}

h2#topHeading {
  color: #4a8fdf;
  font-family: Tekton Pro, Arial;
  font-size: 1.8em;
  font-weight: 800;
  text-align: center;
  filter: brightness(150%);
}

table {
  width: 100%;
  border-collapse: collapse;
}

table,
td,
th {
  border: 1px solid black;
  padding: 5px;
}

th {
  text-align: left;
}

#games,
#pageContext {
  visibility: hidden;
}

/* Add Game Form Styling */
#addForm {
  width: 80%;
  margin: 0 auto;
}
#formTxt {
  clear: both;
  margin: 0 auto;
  font-weight: bold;
  font-size: 1.5rem;
  display: block;
  width: 100%;
  padding: 15px;
  text-align: center;
  position: relative;
  left: -15px;
}
#name {
  text-align: left;
  width: 25%;
  float: left;
}
#name input {
  width: 100%;
}
#dev {
  width: 20%;
  float: left;
  padding-left: 2%;
}
#yr {
  width: 20%;
  float: left;
  padding-left: 2%;
}
#yr input {
  width: 75%;
}
#genre {
  width: 20%;
  float: left;
  padding-left: 2%;
}
#newSumBox {
  margin-top: 20px;
}
/* adminPage stylings */

#CMS {
  font-size: 1.75rem;
  font-weight: bolder;
}

.CMSOption {
  width: 100%;
  clear: both;
  font-size: 2rem;
  font-weight: bold;
  margin: 0 auto;
  text-align: center;
}

.logout {
  font-size: 1.3rem;
}

p {
  font-size: 1.5rem;
}

/* Nav styles */
nav {
  background-color: #50684f;
  width: 51.4%;
  margin: 0 auto;
  filter: brightness(80%);
  min-height: 50px;
}

nav a {
  font-size: 1.5rem;
  font-weight: 800;
  margin: 15px 15px 0 15px;
}

blockquote {
  padding: 0;
  filter: brightness(150%);
}

.author {
  display: inline;
  font-weight: 700;
  font-size: 1rem;
  color: #4a8fdf;
  font-family: Arial;
}

.title {
  display: inline;
  font-size: 1rem;
  font-weight: 800;
}

#gameTitle {
  background-color: peachpuff;
  color: #ffffff;
  border-style: ridge;
  border-width: 2px;
  font-family: Tekton Pro;
}

#container {
  background-color: #606860;
  width: 50%;
  margin: 0 auto;
  padding: 0.2em 1em 1em;
  min-height: 500px;
}

div.gameCategory h3 {
  color: #50684f;
  font-family: Arial;
}

.gameCategory {
  background-color: #32353c;
  width: 600px;
  margin: 2em auto;
  padding-left: 4px;
  border-bottom: 1px solid #50684f;
  text-align: left;
}

a {
  color: #4a8fdf;
}

a:hover {
  color: #fff;
}

table {
  width: 75%;
  border-style: ridge;
  border-width: 4px;
  margin: auto;
}

td {
  padding: 4px;
}

.categoryTitle {
  color: #4a8fdf;
  /*vertical-align: top;*/
  font-size: 200%;
}

.categoryID {
  color: #4a8fdf;
  vertical-align: top;
  font-weight: 600;
  font-size: 100%;
}

td.links {
  font-family: Arial Narrow;
  font-size: 0.8em;
  font-weight: 600;
  text-align: center;
  font-size: 100%;
}

ul {
  list-style-type: none;
}
